.research-image {
  background-image: url("../images/research.jpg");
  background-size: 100vw 500px;

  width: 100vw;
  height: 500px;
  object-fit: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  align-items: end;
}

.image-content {
  width: 100%;
  margin-left: 100px;
  margin-top: -40px;
  height: 70px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #281564;
  color: white;
  font-size: xx-large;
  border-radius: 10px;
}
.apply-now {
  font-weight: 700;
  font-size: small;
  color: #281564;
  height: 30px;
  width: 100px;
  border-radius: 100px;
  background-color: white;
  outline: none;
  border: none;
}
