.undergraduate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 130px;

  background-color: rgb(227, 227, 234);
}

.undergraduate-sub {
  padding: 1px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  height: 50px;
  width: 120px;
  background-color: rgb(200, 200, 204);
  padding: 5px;
}

.undergraduate-sub > i {
  font-size: 15px;
}
.main-undergraduate {
  padding: 120px 0px;
  column-gap: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.undergraduate-container {
  margin-top: 10px;
  padding: 20px 0;
  width: 800px;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(187, 183, 183);
}

.undergraduate-container > button {
  padding: 0 10px;
  background-color: rgb(91, 91, 87);
  height: 30px;
  color: white;
  text-decoration: underline;
}

.undergraduate-text > h1 {
  font-size: 14px;
}
.undergraduate-text > h2 {
  font-size: 17px;
}

.undergraduate-sub > h6 {
  font-size: 15px;
}

.readmore {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.readmore-button:hover {
  background-color: rgb(1, 99, 245);
  cursor: pointer;
}
.readmore-button {
  border-radius: 5px;
  border-style: none;
  align-items: center;
  justify-content: right;
}
