.undergraduate {
  margin-top: 20px;
  display: flex;
  padding-left: 5px;
  align-items: center;
  height: 50px;
  width: 125px;
  background-color: #f4f5f7;
  border-radius: 2px;
  color: #666;
}

.undergraduate-sub {
  padding: 1px;
  margin-top: 5px;
  display: flex;
  border-radius: 2px;
  align-items: center;
  column-gap: 5px;
  height: 50px;
  width: 120px;
  background-color: #e4e4e4;
  padding: 5px;
  color: #494949;
}

.undergraduate-sub > i {
  font-size: 12px;
}
.main-undergraduate {
  padding: 120px 0px;
  column-gap: 30px;
  justify-content: center;
  display: flex;
  background-color: white;
}

.undergraduate-container {
  margin-top: 10px;
  padding: 20px 50px;
  width: 800px;
  align-self: center;
  display: flex;
  justify-content: space-between;

  border: 1px solid rgb(221, 219, 219);
}

.undergraduate-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 20px 15px;
  background-color: rgb(91, 91, 87);
  height: 30px;
  color: white;
  text-decoration: underline;
}

.undergraduate-text > h1 {
  color: #666;
  font-size: 12px;
  font-weight: 500;
}
.undergraduate-text > h2 {
  margin-top: -5px;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
}

.undergraduate-sub > h6 {
  font-size: 12px;
  font-weight: 500;
}

.readmore {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.readmore-button:hover {
  background-color: rgb(1, 99, 245);
  cursor: pointer;
}
.readmore-button {
  border-radius: 5px;
  border-style: none;
  align-items: center;
  justify-content: right;
}
